<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Gerador de Patrimônio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
        .content {
            flex: 1;
            padding-bottom: 60px; /* Espaço para o rodapé */
        }
        footer {
            margin-top: auto;
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Gerador de Patrimônio</h1>
        <p>Insira um intervalo de números para gerar as etiquetas.</p>
    </header>

    <div class="container mt-5 content">
        <form method="post">
            <div class="mb-3">
                <label for="numero_inicial" class="form-label">Número inicial:</label>
                <input type="number" class="form-control" id="numero_inicial" name="numero_inicial" required>
            </div>
            <div class="mb-3">
                <label for="numero_final" class="form-label">Número final:</label>
                <input type="number" class="form-control" id="numero_final" name="numero_final" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Gerar Etiquetas</button>
            </div>
        </form>

        <h2 class="mt-5">Últimos 100 números gerados</h2>
        <table class="table table-striped table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Número</th>
                    <th scope="col">Data/Hora</th>
                </tr>
            </thead>
            <tbody>
                {% if etiquetas_anteriores %}
                    {% for etiqueta in etiquetas_anteriores %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>PAT{{ "%04d" | format(etiqueta[0]) }}</td>
                        <td>{{ etiqueta[1] }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3" class="text-center text-muted">Nenhuma etiqueta foi gerada ainda.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>        
    </div>

    <footer>
        <p>&copy; <span id="anoFooter"></span> Gerador de Patrimônio Print Master - Portal desenvolvido por <a href="https://www.linkedin.com/in/eliezerazevedo/" target="_blank">Eliezer Azevedo</a></p>
    </footer>
    <script>
        document.getElementById("anoFooter").innerText = new Date().getFullYear();
    </script>
</body>
</html>
